
/* Variables */
:root {
    --color-primary-dark: #222629;
    --color-secondary-dark: #555555;
    --color-secondary-light: #9ba3aa;

    --title-background-height: 10rem;
    --profile-photo-size: 10rem;

    --content-width: 60rem;
    --content-pre-padding: 5.25rem;
    
    --profile-photo-offset: calc(
        (100% - var(--content-width)) * 0.5
    );
}

@media (max-width: 60rem){
    :root {
        --profile-photo-offset: 1rem;
    }
}

@media (max-width: 380px){
    :root {
        --profile-photo-offset: -0.3rem;
        --profile-photo-size: 0rem;
        --content-pre-padding: 0rem;
    }
}

body {    
    font-family: 'Roboto', sans-serif;
}

/* Title Bar */
#title-bar{
    min-height: var(--title-background-height);
}

#title-background {
    background: #222629;
    
    width: 100%;
    height: var(--title-background-height);

    position: absolute;
    z-index: -1;
} 

#title {
    min-height: var(--title-background-height);
    margin-left: 1rem;

    vertical-align: top;
    display: inline-flex;
    flex-flow: column nowrap;
}

#title-spacer{
    flex-grow: 1;
}

#profile-photo-border {
    background: white;

    width: var(--profile-photo-size);
    height: var(--profile-photo-size);
    border-radius: 100%;
    
    margin-left: var(--profile-photo-offset);
    top: calc(
        var(--title-background-height) - (var(--profile-photo-size) * 0.5)
    );
    
    display: inline-block;
    position: relative;
}

#profile-photo {
    background: url("./profile.png");
    background-repeat: no-repeat;
    
    width: 90%;
    height: 90%;

    left: 5%;
    top: 5%;
    background-size: 100%;

    position: absolute;
}

/* Content Titles */
.title-1{
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

.title-2{
    color: var(--color-secondary-light);
    font-weight: 300;
    font-size: 1.4rem;
}
.title-3{
    color: var(--color-secondary-light);
    font-size: 1.05rem;
}

.title-4{
    font-weight: 500;
    color: var(--color-primary-dark);
    font-size: 1.05rem;
}

.title-5{
    font-weight: 300;
    font-style: italic;
    color: var(--color-secondary-dark);
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
}

.title-6{
    font-weight: 300;
    font-style: italic;
    color: var(--color-secondary-dark);
    font-size: 0.9rem;
}


.date-range {
    color: var(--color-secondary-light);
    font-weight: 300;
    font-style: normal;
    font-size: 1.05rem;
    float: right;
}

/* Content */
.content-body {
    color: var(--color-primary-dark);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.content-body br{
    content: "";
    display: block;
    height: 0.33rem;
}


/* Content Layout */
#content {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--content-pre-padding);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#content-left {
    flex: 1 1 28rem;
    padding: 1rem;
}

#content-right {
    flex: 1 1 18rem;
    padding: 1rem;
}